.span12
  h2 Welcome to Smash.js!
  p Enter a name at the top.
  p Arrow keys to move. A to attack. Try to knock the most opponents out of the ring!
  p If four people are already playing, wait for players to lose and you'll be added from the queue on the right.