extends layout

block body
  .container(ng-controller='AppCtrl')
    h2 Hello {{name}}
    ul.menu
      li
        a(href='play') Play!
      li
        a(href='debug') Debug

    .row(ng-view)

    .row
      .span12
        h3 Change your name
        p Your current user name is {{name}}
        form(ng-submit='changeName()')
          input(ng-model='newName')
          input(type='submit', value='Change Name')

  script(src='js/lib/jquery-1.7.2.js')
  script(src='js/lib/angular/angular.js')
  script(src='/socket.io/socket.io.js')
  
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
